.gridContainer {
  display: grid;
}

.eventBorders {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.eventMainBorder {
  border-style: solid;
  border-color: blue;
  border-width: 4px;
}
